/* 
  ===================================================
  Main
  ===================================================
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}

a, button, .no-drag
{
  -webkit-app-region: no-drag;
}

dt {
  font-weight : bold;
}
dd {
  font-style: italic;
}

::-webkit-scrollbar 
{
  background: #ecf0f1;
  width: 15px;
}

::-webkit-scrollbar-thumb 
{
    background: #bdc3c7;
  border: 5px solid #ecf0f1;
}

::-webkit-scrollbar-thumb:hover
{
    background: #42484a;
}

*.paramStyle { background-color:#ccccff; }


/* NEW */
/* Style the tab */
.tab {
    overflow-y: hidden;
    overflow-x: auto;
    border: 1px solid #ccc;
    border-bottom: 2px solid #3498db;
    background-color: #f1f1f1;
    display: flex;
    padding: 0 3px;
    flex-direction: row;
}

/* Style the buttons that are used to open the tab content */
.tab span, .file button {
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.tablinks {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border-radius: 5px 5px 0 0;
    background-color: #3498db;
    color: #ffffff;
    margin-top: 5px;
    transition: 0.15s;
    padding: 0 2px;
    width: 75px;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover, .tab .tablinks.active {
    border: 1px solid #187fe6;
    border-bottom: 1px solid #3498db;
    background-color: #e6e6e6;
    margin-top: 1px;
    color: #3e3737;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
    margin-bottom: 0;
    padding: 2px;
}

span.closeButton {
    display: inline-block;
    color: white;
    border-radius: 40%;
    width: 13px;
    height: 13px;
    background-color: #cc1717;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    margin-left: 5px;
}

a.closeButton:hover {
  background-color: #ff0000;
}

.projectFiles{
    margin-right: 5px;
    border: 1px solid transparent;
}

.projectFiles:hover {
    border-color: #595959;
    background-color: #dcdcdc;
}

.projectFiles ul {
    list-style-type: none;
    margin: 0;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 5;
    background-color: #dcdcdc;
    border: 1px solid #595959;
    margin-left: -1px;
}

.projectFiles:hover .file {
    display: block;
}

.file .tablinks{
    border-radius: 5px;
}

.file .tablinks:hover {
  background-color: lightgray;
  margin-top: 5px;
}

.addNewFile {
  text-align: center;
  padding-top: 30px;
}
